table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    /*padding: 8px;*/
}

thead tr th {
    color: white;
    background: black;
}


/*css para efeitos jQuery*/

.impar {
    background: #ccc;
}


/*fim css para efeitos jQuery*/

.destaque {
    background: #000;
    color: #fff;
}

.tooltip {
    width: 180px;
    padding: 2px 4px;
    margin-top: 25px;
    border: 1px solid #000;
    color: #000;
    background: #ddd;
    position: absolute;
}